<form  class="content">
  <h2 fxLayoutAlign="center">Editar Avaliação</h2>

<!-- <mat-list role="list">
  <mat-list-item class="right">
    <a mat-button color="warn" 
    routerLink="/admin/cadastro"
    *ngIf="usuarioId">
      Adicionar Questionário
    </a>
    <a mat-button color="primary" routerLink="/cadastro-pf">
      Cadastrar Usuários
    </a>
    <a mat-button color="primary" routerLink="/cadastro-pj">
      Cadastrar Empresa
    </a>
  </mat-list-item>
</mat-list> -->

<mat-list role="list">
  <mat-list-item class="left">
    <form [formGroup]="form" novalidate>
      <mat-form-field>
        <mat-select placeholder="Usuários"
          formControlName="funcs"
          [(value)]="usuarioId"
          (selectionChange)="exibirLancamentos()">
          <mat-option 
            *ngFor="let usuario of usuarios" 
            [value]="usuario.id">
            {{ usuario.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-list-item>
</mat-list>

<mat-table #table [dataSource]="dataSource" 
  matSort (matSortChange)="ordenar($event)">

    <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	Data
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.data | data }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	Tipo
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.tipo | tipo }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="periodo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	Período
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.periodo }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="disciplina">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	Disciplina
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.disciplina }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nota">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	Nota
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.nota }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acao">
      <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
        <a routerLink="{{ '/admin/atualizacao/' + lancamento.id }}">
          <mat-icon matTooltip="Editar lançamento">create</mat-icon>
        </a>
        <a (click)="removerDialog(lancamento.id)" style="cursor: pointer">
          <mat-icon matTooltip="Remover lançamento">clear</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

	<mat-header-row 
		*matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
</mat-table>

<mat-paginator 
  [length]="totalLancamentos"
  [pageSize]="25"
  (page)="paginar($event)">
</mat-paginator>


</form>
