<form  class="content">
<a mat-button color="warn" routerLink="/usuario">
	Responder Questionário
</a>
<mat-table [dataSource]="dataSource" matSort>

	<mat-header-row 
		*matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

    <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Data
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
        {{ lancamento.data | data }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nota
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.tipo | tipo }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nota">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	Nota
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.nota }}
      </mat-cell>
    </ng-container>  

    <ng-container matColumnDef="acao">
      <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
        <a routerLink="{{ '/admin/atualizacao/' + lancamento.id }}"
          ><mat-icon matTooltip="Editar lançamento">create</mat-icon></a>
        <a (click)="removerDialog(lancamento.id)" 
          style="cursor: pointer"><mat-icon matTooltip="Remover lançamento">clear</mat-icon></a>
      </mat-cell>
    </ng-container>

</mat-table>

<mat-paginator 
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15, 25]">
</mat-paginator>


</form>







